@theme inline {
  --radius-sm-ui: calc(var(--radius-ui) - 4px);
  --radius-md-ui: calc(var(--radius-ui) - 2px);
  --radius-lg-ui: var(--radius-ui);
  --radius-xl-ui: calc(var(--radius-ui) + 4px);
  --color-background-ui: var(--background-ui);
  --color-foreground-ui: var(--foreground-ui);
  --color-card-ui: var(--card-ui);
  --color-card-foreground-ui: var(--card-foreground-ui);
  --color-popover-ui: var(--popover-ui);
  --color-popover-foreground-ui: var(--popover-foreground-ui);
  --color-primary-ui: var(--primary-ui);
  --color-primary-foreground-ui: var(--primary-foreground-ui);
  --color-secondary-ui: var(--secondary-ui);
  --color-secondary-foreground-ui: var(--secondary-foreground-ui);
  --color-muted-ui: var(--muted-ui);
  --color-muted-foreground-ui: var(--muted-foreground-ui);
  --color-accent-ui: var(--accent-ui);
  --color-accent-foreground-ui: var(--accent-foreground-ui);
  --color-destructive-ui: var(--destructive-ui);
  --color-border-ui: var(--border-ui);
  --color-input-ui: var(--input-ui);
  --color-ring-ui: var(--ring-ui);
  --color-chart-1-ui: var(--chart-1-ui);
  --color-chart-2-ui: var(--chart-2-ui);
  --color-chart-3-ui: var(--chart-3-ui);
  --color-chart-4-ui: var(--chart-4-ui);
  --color-chart-5-ui: var(--chart-5-ui);
  --color-sidebar-ui: var(--sidebar-ui);
  --color-sidebar-foreground-ui: var(--sidebar-foreground-ui);
  --color-sidebar-primary-ui: var(--sidebar-primary-ui);
  --color-sidebar-primary-foreground-ui: var(--sidebar-primary-foreground-ui);
  --color-sidebar-accent-ui: var(--sidebar-accent-ui);
  --color-sidebar-accent-foreground-ui: var(--sidebar-accent-foreground-ui);
  --color-sidebar-border-ui: var(--sidebar-border-ui);
  --color-sidebar-ring-ui: var(--sidebar-ring-ui);
}
