.dark {
  --color-background-ui: oklch(0.145 0 0);
  --color-foreground-ui: oklch(0.985 0 0);

  --color-card-ui: oklch(0.145 0 0);
  --color-card-foreground-ui: oklch(0.985 0 0);

  --color-popover-ui: oklch(0.145 0 0);
  --color-popover-foreground-ui: oklch(0.985 0 0);

  --color-primary-ui: oklch(0.985 0 0);
  --color-primary-foreground-ui: oklch(0.205 0 0);

  --color-secondary-ui: oklch(0.269 0 0);
  --color-secondary-foreground-ui: oklch(0.985 0 0);

  --color-muted-ui: oklch(0.269 0 0);
  --color-muted-foreground-ui: oklch(0.708 0 0);

  --color-accent-ui: oklch(0.269 0 0);
  --color-accent-foreground-ui: oklch(0.985 0 0);

  --color-destructive-ui: oklch(0.444 0.177 26.899);
  --color-destructive-foreground-ui: oklch(0.971 0.013 17.38);
  --color-destructive-border-ui: oklch(0.577 0.245 27.325);

  --color-warning-ui: oklch(0.473 0.137 46.201);
  --color-warning-foreground-ui: oklch(0.973 0.071 103.193);
  --color-warning-border-ui: oklch(0.769 0.188 70.08);

  --color-success-ui: oklch(0.448 0.119 151.328);
  --color-success-foreground-ui: oklch(0.962 0.044 156.743);
  --color-success-border-ui: oklch(0.723 0.219 149.579);

  --color-info-ui: oklch(0.424 0.199 265.638);
  --color-info-foreground-ui: oklch(0.932 0.032 255.585);
  --color-info-border-ui: oklch(0.546 0.245 262.881);

  --color-border-ui: oklch(0.322 0.003 264.5);
  --color-input-ui: oklch(0.322 0.003 264.5);
  --color-ring-ui: oklch(0.556 0 0);
  --background-ui: oklch(0.145 0 0);
  --foreground-ui: oklch(0.985 0 0);
  --card-ui: oklch(0.205 0 0);
  --card-foreground-ui: oklch(0.985 0 0);
  --popover-ui: oklch(0.205 0 0);
  --popover-foreground-ui: oklch(0.985 0 0);
  --primary-ui: oklch(0.922 0 0);
  --primary-foreground-ui: oklch(0.205 0 0);
  --secondary-ui: oklch(0.269 0 0);
  --secondary-foreground-ui: oklch(0.985 0 0);
  --muted-ui: oklch(0.269 0 0);
  --muted-foreground-ui: oklch(0.708 0 0);
  --accent-ui: oklch(0.269 0 0);
  --accent-foreground-ui: oklch(0.985 0 0);
  --destructive-ui: oklch(0.444 0.177 26.899);
  --destructive-foreground-ui: oklch(0.971 0.013 17.38);
  --destructive-border-ui: oklch(0.577 0.245 27.325);
  --warning-ui: oklch(0.473 0.137 46.201);
  --warning-foreground-ui: oklch(0.973 0.071 103.193);
  --warning-border-ui: oklch(0.769 0.188 70.08);
  --success-ui: oklch(0.448 0.119 151.328);
  --success-foreground-ui: oklch(0.962 0.044 156.743);
  --success-border-ui: oklch(0.723 0.219 149.579);
  --info-ui: oklch(0.424 0.199 265.638);
  --info-foreground-ui: oklch(0.932 0.032 255.585);
  --info-border-ui: oklch(0.546 0.245 262.881);
  --border-ui: oklch(0.322 0.003 264.5);
  --input-ui: oklch(0.322 0.003 264.5);
  --ring-ui: oklch(0.556 0 0);
  --chart-1-ui: oklch(0.488 0.243 264.376);
  --chart-2-ui: oklch(0.696 0.17 162.48);
  --chart-3-ui: oklch(0.769 0.188 70.08);
  --chart-4-ui: oklch(0.627 0.265 303.9);
  --chart-5-ui: oklch(0.645 0.246 16.439);
  --sidebar-ui: oklch(0.205 0 0);
  --sidebar-foreground-ui: oklch(0.985 0 0);
  --sidebar-primary-ui: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground-ui: oklch(0.985 0 0);
  --sidebar-accent-ui: oklch(0.269 0 0);
  --sidebar-accent-foreground-ui: oklch(0.985 0 0);
  --sidebar-border-ui: oklch(1 0 0 / 10%);
  --sidebar-ring-ui: oklch(0.556 0 0);
}
