@theme {
  --color-background-ui: oklch(1 0 0);
  --color-foreground-ui: oklch(0.145 0 0);

  --color-card-ui: oklch(1 0 0);
  --color-card-foreground-ui: oklch(0.145 0 0);

  --color-popover-ui: oklch(1 0 0);
  --color-popover-foreground-ui: oklch(0.145 0 0);

  --color-primary-ui: oklch(0.205 0 0);
  --color-primary-foreground-ui: oklch(0.985 0 0);

  --color-secondary-ui: oklch(0.97 0 0);
  --color-secondary-foreground-ui: oklch(0.205 0 0);

  --color-muted-ui: oklch(0.97 0 0);
  --color-muted-foreground-ui: oklch(0.556 0 0);

  --color-accent-ui: oklch(0.97 0 0);
  --color-accent-foreground-ui: oklch(0.205 0 0);

  --color-destructive-ui: oklch(0.971 0.013 17.38);
  --color-destructive-foreground-ui: oklch(0.577 0.245 27.325);
  --color-destructive-border-ui: oklch(0.885 0.062 18.334);

  --color-warning-ui: oklch(0.973 0.071 103.193);
  --color-warning-foreground-ui: oklch(0.476 0.114 61.907);
  --color-warning-border-ui: oklch(0.945 0.129 101.54);

  --color-success-ui: oklch(0.962 0.044 156.743);
  --color-success-foreground-ui: oklch(0.448 0.119 151.328);
  --color-success-border-ui: oklch(0.925 0.084 155.995);

  --color-info-ui: oklch(0.932 0.032 255.585);
  --color-info-foreground-ui: oklch(0.424 0.199 265.638);
  --color-info-border-ui: oklch(0.882 0.059 254.128);

  --color-border-ui: oklch(0.918 0.003 264.5);
  --color-input-ui: oklch(0.918 0.003 264.5);
  --color-ring-ui: oklch(0.708 0 0);

  --radius-sm-ui: 0.25rem;
  --radius-md-ui: calc(var(--radius-sm-ui) + 0.125rem);
  --radius-lg-ui: calc(var(--radius-sm-ui) + 0.25rem);
  --radius-xl-ui: calc(var(--radius-sm-ui) + 0.5rem);

  --font-sans-ui:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono-ui: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}
